body {
    background-image: url;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;  
     }
#sec {
    background-color: aqua;
}

.sidenav ul{
    list-style: none;
    margin: 0;
    height: 100px;
    width: 50px;  
  }
    .sidenav ul li{
    color: white;
    padding: 15px;
    position: relative;
    width: 200px;
    height: 50px;
    background-color: rgb(25, 118, 204);
    border-bottom: 1px solid white;
  }
  .sidenav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .sidenav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
  }
  .sidenav ul ul{
    color: white;
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -2%;
  }