@page
@model Kaizen.Api.Pages.School.School.UpsertModel

<form method="post">

    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.SchoolObj.Id != null)
            {
                <input type="hidden" asp-for="SchoolObj.Id" />
            }

            <div class="col-12 px-3" style="border-bottom:1px solid #325d88;">
                <h2 class="text-primary">@(Model.SchoolObj.Id !=null ? "Update ": "Create ")School</h2>
            </div>

            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.Name"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="SchoolObj.Name" />
                        <span class="text-danger" asp-validation-for="SchoolObj.Name"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.Type"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="SchoolObj.Type" />
                        <span class="text-danger" asp-validation-for="SchoolObj.Type"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.Motto"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="SchoolObj.Motto" />
                        <span class="text-danger" asp-validation-for="SchoolObj.Motto"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.Address"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="SchoolObj.Address"
                            placeholder="example: Nyeri County, Kimathin, B5" />
                        <span class="text-danger" asp-validation-for="SchoolObj.Address"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.Region"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="SchoolObj.Region" placeholder="example: Nyeri" />
                        <span class="text-danger" asp-validation-for="SchoolObj.Region"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.SchoolEmail"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="SchoolObj.SchoolEmail" />
                        <span class="text-danger" asp-validation-for="SchoolObj.SchoolEmail"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.Pobox"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="SchoolObj.Pobox" placeholder="School Post Number" />
                        <span class="text-danger" asp-validation-for="SchoolObj.Pobox"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.PhoneNumber"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="SchoolObj.PhoneNumber" placeholder="School PoBox Number" />
                        <span class="text-danger" asp-validation-for="SchoolObj.PhoneNumber"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SchoolObj.Website"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="url" asp-for="SchoolObj.Website" placeholder="Website Url" />
                        <span class="text-danger" asp-validation-for="SchoolObj.Website"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.SchoolObj.Id != null)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-asp-page="./Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-4 pt-3">
                <i>Input and Image here</i>
            </div>
        </div>



    </div>
    </div>

</form>