<link rel="stylesheet" href="~/css/admin.css" />

<div class ="container-fluid" id ="sec" style="width: max-content;">
    <h4 class="display-4">Welcome to the Kaizen admin dashboard</h4>
</div>
<div class="sidenav">
            <ul>
                <li><a href="#">Schools</a>
                    <ul>
                        <li><a href="#">View schools</a></li>
                        <li><a href="#">Add schools</a></li>
                    </ul>
                </li>
                <li><a href="#">Subscriptions</a>
                <ul>
                  <li><a href="#">Types</a></li>
                  <li><a href="#">Active</a></li>
                </ul>
                </li>       
                <li><a href="#">Cultural practices</a>
                <ul>
                  <li><a href="#">View notifications</a></li>
                </ul>
                </li>  
                <!--<li><a href="#">Dividends</a>
                <ul>
                    <li><a href="dimes_dividends.html">View dividends</a></li>
                </ul>
                </li>
                <li><a href="#">News</a>
                <ul>
                    <li><a href="dimes_news.html">View news</a></li>
                </ul>
                </li>
                <li><a href="#">Minutes</a>  
                <ul>
                    <li><a href="dimes_minutes.html">View minutes</a></li>
                </ul>-->                              
            </ul>
        </div> 

