@page
@model UploadandDowloadService.Pages.Admin.Home.IndexModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
    <!-- seo fact area start -->
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6 mt-5 mb-3">
                <div class="card">
                    <div class="seo-fact sbg1">
                        <div class="p-4 d-flex justify-content-between align-items-center">
<<<<<<< HEAD
                            <div class="seofct-icon text-primary"><i class="fa fa-thumbs-up" style="font-size:48px;color:red"></i> Likes</div>
                            <h2>2,315</h2>
=======
                            <div class="seofct-icon text-primary"><i class="ti-thumb-up"></i>
                                <h1 class="text-primary">Registered Users</h1>
                            </div>
                            <h2>@Model.AppUsers.Count()</h2>
>>>>>>> eefd09c0e0e326f3e189de1a527c523b7dd3e006
                        </div>
                        <canvas id="seolinechart1" height="50"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-5 mb-3">
                <div class="card">
                    <div class="seo-fact sbg2">
                        <div class="p-4 d-flex justify-content-between align-items-center">
                            <div class="seofct-icon"><i class="ti-share"></i>
                                <h1 class="text-primary">Registered Schools</h1>
                            </div>
                            <h2>@Model.Schoolist.Count()</h2>
                        </div>
                        <canvas id="seolinechart2" height="50"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <hr>

    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 20px;
            align-items: stretch;
        }

        .grid>article {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        }

        .grid>article img {
            max-width: 100%;
        }

        .text {
            padding: 0 20px 20px;
        }

        .text>button {
            background: gray;
            border: 0;
            color: white;
            padding: 10px;
            width: 100%;
        }
    </style>

    <div class="container border">
        <div class="row">
            <div class="col-6"><strong>
                    <h1 class="text-primary">Schools Registered</h1>
                </strong></div>
            <div class="col-6 text-right">
                <a asp-page="/Admin/School/Index" class="btn btn-primary"> <i class="fas fa-eye"></i> &nbsp; Tabular
                    Form</a>
            </div>
        </div>
        <br>
        <br>
        <main class="grid ">

            @foreach (var school in Model.Schoolist)
            {
                <article>

                    <div class="text col-sm">
                        <h3>@school.Name</h3>
                        <h6>@school.Motto</h6>
                        <a asp-page="/Admin/School/Index" class="btn btn-dark"> <i class="fas fa-eye"></i> &nbsp; View
                            school Profile
                        </a>
                    </div>
                </article>
            }

        </main>
    </div>
    <br>
    <br>
    <hr>
